/* Global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #F8EDED;
    background-color: #AF8F6F;
}

/* Header */

header {
    background: #543310;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 4px #74512D; /* add box shadow */
}

header img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

header h1 {
    margin: 0;
    font-family:'Times New Roman';
}

header nav {
    margin-left: auto;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav li {
    margin-right: 40px;
}

header nav a {
    text-decoration: none;
    color: #F8EDED;
}

header nav a:hover {
    color: #666;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2em;
}

.image {
    width: 30%;
    margin-right: 20px;
}

.image img {
    box-shadow:0 2px 4px #666;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.content {
    width: 50%;
}

.content h1 {
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 30px;
    text-align: justify;
}

/* Social Media Styles */

.social-media {
    display: flex;
    flex-wrap: wrap;
}

.social-media p {
    margin-right: 10px;
}

.social-media a {
    margin-right: 10px; /* add margin right for spacing */
}

.social-media img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

